body {
	font-family: 'Antic', 'HelveticaNeue-Thin', 'Helvetica Neue', sans-serif;
	font-weight: normal;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: rgba(30, 30, 30, 1);
	overflow: scroll;
	padding-bottom: 2em;
}

h1 {
	font-weight: normal;
	color: white;
}

.section {
	background-size: cover;
	text-align: center;
}

#intro {
	/*background-image: url(images/bhangra.jpg);*/
	/*background-color: rgba(25,25,25,.1);*/
	background-size: cover;
	color: white;
}

#title {
	color: rgba(220, 220, 220, 1);
}

#socialmedia {
	float: right;
	margin-top: 10px;
}


.socialimg {
	margin-right: 10px;
	float: right;
	height: 50px;
}
button {
	border-radius: 3px;
	background-color: #f57c00;
	border: none;
	color: white;
	font-size: 20pt;
	margin-top: 15px;
}